.template {
  display: none !important;
}

.page-header{
  position: relative;
  color: #FCFFF5;
  background-color: #3E606F;
  width: 80%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.page-content{


}
