.template {
  display: none !important;
}



body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #193441;
  background-color: #D1DBBD;
}
.page-header{
  color: #FCFFF5;
  background-color: #3E606F;
  width: 80%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-title{
  text-align: center;
}
.top-navbar {
  width: 80%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-link{
  color: inherit;
  text-decoration: none;
}


main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 960px;
  height: 100%;
}
.project-summary{
  display: flex;
  flex-direction: column;
  background-color: #FCFFF5;
  width: 100%;
  margin-bottom: 15px;
}
.article-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-title-link{
  width: 100%;
  color: inherit;
  text-decoration: none;
}
.article-title{
  width: 100%;
  text-align: center;
  background-color: #91AA9D;
}
.publication-date{
  text-align: center;
}
.article-content{
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
