body{
  background-color: #FCFAE6;
  color: #212B40;
}
.full-line-div{
  background-color: #901808;
}
.navbar-list{
  background-color: white;
}

/*body{
  background-color: #FCFAE6;
  color: #1B1D26;
}
.full-line-div{
  background-color: #2A6641;
}
.navbar-list{
  background-color: white;
}*/
