.main-navbar{
  position: relative;
}
.navbar-list{
  display: none;
  padding: 0;
  list-style-type: none;
  position: absolute;
  background-color: white;
  z-index: 2;
  margin: 0;
  top: 105%;
  right: 0;
  text-align: center;
  /*outline: 1px black solid;*/
  width: 162%;
  border-radius: 10px;
  border: 2px #FFECA7 solid;
}
.icon-menu{
  position: absolute;
  margin: 0px;
  padding: 10px 10px;
  padding-bottom: 40px;
}

.navbar-text{
  margin: 0;
  padding: 10% 10%;
}

.hamburger-navbar:hover .navbar-list{
  display: block;
}

.spiral-sizing-box{
  width: 90%;
  /*z-index: -1;*/
}
.navbar-link{
  text-decoration: none;
  color: inherit;
}

html, body {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  width: 100%;
  height: 100%;
  /*height: 900px;*/
}
.spiral-holder{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  /*z-index: -1;*/
  /*height: 100%;*/
}

.spiral-chunk-wrapper{
  position: absolute;
  /*z-index: inherit;*/
  /*display: block;*/
  /*height: 0;*/
}

.spiral-chunk-wrapper:before{
  content: "";
  display: block;
  padding-bottom: 100%;
  margin: 0;
}

.spiral-chunk{
  /*z-index: inherit;*/
  outline: 1px white solid;
  border: 1px white solid;
  border-collapse: collapse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top{
  border-width: 2px 2px 0px 0px;
}
.bottom{
  border-width: 0px 0px 2px 2px;
}
.left{
  border-width: 2px 0px 0px 2px;
}
.right{
  border-width: 0px 2px 2px 0px;
}

/*#spiral-chunk-8{
  outline: 1px black solid;
  outline-width: 1px 1px 0px 0px;
}*/



.main-title-small{
  padding: 10px;
  background-color: white;
  z-index: 1;
  text-align: center;
  /*width: 100%;*/
  border-radius: 10px;
  border: 2px #796466 solid;
  margin-top: 15%;
}








/*from type-scale.com*/
html {font-size: 1em;}

body {
  background-color: #324152;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.3em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}

#spiral-chunk-0{
  background-color: #C1836A;
}
#spiral-chunk-1{
  background-color: #FFECA7;
}
#spiral-chunk-2{
  background-color: #47535E;
}
#spiral-chunk-3{
  background-color: #796466;
}
#spiral-chunk-4{
  background-color: #C1836A;
}
#spiral-chunk-5{
  background-color: #FFECA7;
}
#spiral-chunk-6{
  background-color: #47535E;
}
#spiral-chunk-7{
  background-color: #796466;
}
#spiral-chunk-8{
  background-color: #C1836A;
}


/*.spiral-div {
  outline: 1px black solid;
  position: absolute;
  border: 2px black solid;
  margin: 10px;
  border-collapse: collapse;
}*/
/*#spiral-0{
  top: 150px;
  left: 240px;
  height: 8px;
  width: 8px;
}*/
/*#spiral-1{
  top: 150px;
  left: 250px;
  height: 8px;
  width: 8px;
  border-bottom-right-radius: 10px
}*/
/*#spiral-2{
  top: 130px;
  left: 240px;
  height: 18px;
  width: 18px;
  border-top-right-radius: 20px;
}*/
/*#spiral-3{
  top: 130px;
  left: 210px;
  height: 28px;
  width: 28px;
  border-top-left-radius:30px;
}*/
/*#spiral-4{
  top: 160px;
  left: 210px;
  height:48px;
  width: 48px;
  border-bottom-left-radius: 50px;
}*/
/*#spiral-5{
  top: 130px;
  left: 260px;
  height: 78px;
  width: 78px;
  border-bottom-right-radius: 80px;
}*/
/*#spiral-6{
  top: 0px;
  left: 210px;
  height: 128px;
  width: 128px;
  border-top-right-radius: 130px;
}*/
/*#spiral-7{
  top: 0px;
  left: 0px;
  height: 208px;
  width: 208px;
  border-top-left-radius: 210px;
}*/
/*#spiral-8{
  top: 210px;
  left: 0px;
  height:338px;
  width: 338px;
  border-bottom-left-radius: 340px;
}*/


/*#spiral-0{*/
  /*top: 27.2727%;*/
  /*15/55*/
  /*left: 70.5882%;*/
    /*24/34*/
  /*height:1.81818%;*/
  /*1/55*/
  /*width: 2.9412%;*/
  /*1/34*/
/*}*/
/*#spiral-1{*/
  /*top: 27.2727%;*/
  /*15/55*/
  /*left: 73.5294%;*/
  /*25/34*/
  /*height:1.81818%;*/
  /*1/55*/
  /*width: 2.9412%;*/
  /*1/34*/
/*}*/
/*#spiral-2{*/
  /*top: 23.6364%;*/
  /*13/55*/
  /*left: 70.5882%;*/
  /*24/34*/
  /*height:1.81818%;*/
  /*2/55*/
  /*width: 2.9412%;*/
  /*2/34*/
/*}*/
/*#spiral-3{*/
  /*top: 23.6364%;*/
  /*13/55*/
  /*left: 61.7647%;*/
  /*21/34*/
  /*height:1.81818%;*/
  /*3/55*/
  /*width: 2.9412%;*/
  /*3/34*/
/*}*/
/*#spiral-4{*/
  /*top: 29.0909%;*/
  /*16/55*/
  /*left: 61.7647%;*/
  /*21/34*/
  /*height:1.81818%;*/
  /*5/55*/
  /*width: 2.9412%;*/
  /*5/34*/
/*}*/
/*#spiral-5{*/
  /*top: 23.6364%;*/
  /*13/55*/
  /*left: 76.4706%;*/
  /*26/34*/
  /*height:14.5455%;*/
  /*8/55*/
  /*width: 2.9412%;*/
  /*8/34*/
/*}*/
/*#spiral-6{*/
  /*top: 0%;*/
  /*left: 61.7647%;*/
  /*21/34*/
  /*height:23.6364%;*/
  /*13/55*/
  /*width: 38.2353%;*/
  /*13/34*/
/*}*/
/*#spiral-7{*/
  /*top: 0%;*/
  /*left: 0%;*/
  /*height:38.1818%;*/
  /*21//5*/
  /*width: 61.7647%;*/
  /*21/34*/
/*}*/
/*#spiral-8{*/
  /*top: 38.1818%;*/
  /*21/55*/
  /*left: 0%;*/
  /*height:61.8182%;*/
  /*21/55*/
  /*width: 100%;*/
  /*34/34*/
/*}*/
